$black: rgb(0,0,0);
$charcoal: rgb(38,40,46);
$white: rgb(255,255,255);

$background: rgb(248, 249, 250);

$blue: rgb(30,150,255);
$blueLight: rgb(50,170,255);
$blueFaint: rgb(180,235,255);
$blueGrey: rgb(99,99,119);
$blueGreyLight: rgb(189,189,209);
