$black: rgb(0, 0, 0);
$charcoal: rgb(11, 24, 33);
$white: rgb(255, 255, 255);

$background: rgb(248, 249, 250);

$blue: rgb(30, 150, 255);
$blue-text: rgb(0, 119, 222);
$blue-medium: rgb(3, 62, 112);
$blue-dark: rgb(4, 46, 82);
$blue-very-dark: rgb(3, 24, 42);
$blue-light: rgb(85, 175, 255);
$blue-faint: rgb(180, 235, 255);
$blue-grey: rgb(88, 88, 108);
$blue-grey-light: rgb(116, 116, 136);
