$black: rgb(0, 0, 0);
$charcoal: rgb(38, 40, 46);
$white: rgb(255, 255, 255);

$background: rgb(248, 249, 250);

$blue: rgb(30, 150, 255);
$blue-light: rgb(50, 170, 255);
$blue-faint: rgb(180, 235, 255);
$blue-grey: rgb(99, 99, 119);
$blue-grey-light: rgb(189, 189, 209);
