label span {
  position: absolute;
  font-size: 0;
  opacity: 0;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 $page-padding;
  border: 0;
  background-color: transparent;
  font-family: $font;
  font-size: 2.4rem;
  line-height: 1.33em;
  color: $blue-text;
  @include prefix(appearance, none);

  @media (max-width: $media-small) {
    padding-right: $page-padding / 2;
    padding-left: $page-padding / 2;
    font-size: 2.1rem;
  }

  &:hover:not(:focus) {
    text-decoration: underline;

    @media (max-width: $media-small) {
      text-decoration: none;
    }

    @include placeholder {
      text-decoration: underline;

      @media (max-width: $media-small) {
        text-decoration: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  @include placeholder {
    color: $blue-grey-light;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  @include prefix(appearance, none);
  margin: 0;
}

button {
  display: block;
  width: 100%;
  border: 0;
  background: none;
  font-family: inherit;
  text-align: left;
  @include prefix(appearance, none);
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-color: $charcoal;
  }
}
