input {
  @include prefix(box-sizing, border-box);
  display: block;
  width: 100%;
  height: auto;
  padding: 0 $page-padding;
  border: 0;
  background-color: transparent;
  @include font-antialias;
  font-family: monospace;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.33em;
  color: $blue-light;
  @include prefix(appearance, none);

  &:hover:not(:focus) {
    text-decoration: underline;

    @media (max-width: $media-small) {
      text-decoration: none;
    }

    @include placeholder {
      text-decoration: underline;

      @media (max-width: $media-small) {
        text-decoration: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  @include placeholder {
    color: $blue-grey-light;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  @include prefix(appearance, none);
  margin: 0;
}

button {
  display: block;
  width: 100%;
  border: 0;
  background: none;
  text-align: left;
  @include prefix(appearance, none);
  outline: none;

  &:focus {
    text-decoration: underline;
    text-decoration-color: $charcoal;
  }
}
