// Generate prefixed properties
@mixin prefix($property, $values...) {
  -webkit-#{$property}: #{$values};
  -moz-#{$property}: #{$values};
  -ms-#{$property}: #{$values};
  #{$property}: #{$values};
}

// Generate transition
@mixin transition($property: all, $duration: 0.33s, $timing: cubic-bezier(0.19, 1, 0.22, 1)) {
  @include prefix(transition, $property $duration $timing);
}

// Generate animation keyframes
// scss-lint:disable VendorPrefix
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
// scss-lint:enable VendorPrefix

// Generate dotted line on the top or bottom of an element
$dotted-line-spacing: 6;

@mixin dotted-line($color: $blue-grey-light, $alignment: bottom) {
  background-image: linear-gradient(to right, $color 0%, $color (100% / $dotted-line-spacing), transparent (100% / $dotted-line-spacing));
  background-position: 0 $alignment;
  background-size: ($dotted-line-spacing + px) 1px;
  background-repeat: repeat-x;
}

// Adds display:flex and other variations
@mixin flex($property: flex) {
  display: -webkit-box;
  display: -webkit-$property;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-$property;
  display: $property;
}

// Add font antialias properties
@mixin font-antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Style input placeholder
// scss-lint:disable VendorPrefix
// scss-lint:disable PseudoElement
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }

  &::-moz-placeholder {
    @content
  }

  &:-ms-input-placeholder {
    @content
  }

  &::input-placeholder {
    @content
  }

  &::placeholder {
    @content
  }
}
// scss-lint:enable PseudoElement
// scss-lint:enable VendorPrefix
