@media (max-width: 1024px) {

  .container {
    display: block;
    min-height: 0;
  }

  .text-box {
    width: auto;
    padding-left: $page-padding;
    @include prefix(clip-path, none);
  }

  .calculator {
    width: 100%;
  }
}



@media (max-width: 768px) {

  [data-tooltip]::after {
    display: none;
  }

  body {
    padding: 0;
  }

  header,
  footer {
    padding: 7px ($page-padding / 2);

    h1 {
      margin: 0 1em 0 0.5em;
    }
  }

  .container {
    border-radius: 0;
  }

  .text-box {
    padding: $page-padding / 2;
  }

  .calculator {
    padding: 0;

    .person,
    .add-person {
      @include prefix(flex-grow, 1);

      &:not(:last-child) {
        margin-bottom: 0;
      }

      .remove-person,
      .remove-expense {
        opacity: 1;
      }
    }
  }

  input {

    &:hover:not(:focus) {
      text-decoration: none;

      @include placeholder {
        text-decoration: none;
      }
    }
  }
}
