@media (max-width: 1024px) {

  div.container {
    display: block;
    min-height: 0;
  }

  div.text-box {
    width: auto;
    padding-left: $pagePadding;
    @include prefix(clip-path, none);
  }

  div.calculator {
    width: 100%;
  }
}



@media (max-width: 768px) {

  [data-tooltip]::after {
    display: none;
  }

  body {
    padding: 0;
  }

  header,
  footer {
    padding: 7px ($pagePadding / 2);

    h1 {
      margin: 0 1em 0 0.5em;
    }
  }

  div.container {
    border-radius: 0;
  }

  div.text-box {
    padding: $pagePadding / 2;
  }

  div.calculator {
    padding: 0;

    div.person,
    div.add-person {
      @include prefix(flex-grow, 1);

      &:not(:last-child) {
        margin-bottom: 0;
      }

      .remove-person,
      .remove-expense {
        opacity: 1;
      }
    }
  }

  input {

    &:hover:not(:focus) {
      text-decoration: none;

      @include placeholder {
        text-decoration: none;
      }
    }
  }
}
