[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 99;
  top: 3px;
  right: 35px;
  display: block;
  width: auto;
  padding: 4px 11px;
  border-radius: 4px;
  background-color: rgba($charcoal, 0.95);
  opacity: 0;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2em;
  white-space: nowrap;
  color: $white;
  @include prefix(box-shadow, 0 0 20px rgba($black, 0.05), 0 2px 2px rgba($black, 0.05));
  @include prefix(transform, perspective(300px) translateX(10px) scale(0.95));
  @include transition;
  @include prefix(transition-properties, margin-top, margin-left, opacity, transform);
  pointer-events: none;
}

[data-tooltip] {

  &:hover::after {
    opacity: 1;
    @include prefix(transform, perspective(300px));
  }
}
