@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$font: "Space Mono", "Courier", monospace;
$radius: 2px;
$page-padding: 40px;
$page-padding-mobile: 16px;

$media-medium: 1100px;
$media-small: 580px;

@import 'colors';
@import 'mixins';

@import 'document';
@import 'form';
@import 'tooltip';

@import 'divvy';
